

<div class="col-sm-8 blog-main">

  <h1>Blogs for topic: <%= @topic.title.split.map(&:capitalize).join(' ') %></h1>

  <%= paginate @blogs %>

  <%= render @blogs %>

  <%= paginate @blogs %>
  

</div><!-- end /.blog-main -->




