<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_url %>
<br />
<hr>
<!-- how to render a partial with a custom name (manual collection vs standard collection), instead of 'portfolio' we had 
'portfolio_item' so we have to tell rails this using the following syntax: -->
<%= render partial: 'portfolio_item', collection: @portfolio_items %> 

<hr>
