<div class="background <%= action_name %>">
  
<%= video_tag(
  "/assets/#{action_name}-bg.mp4",
  class: 'background',
  autoplay: true,
  loop: true,
  muted: true,
  poster: "/assets/#{action_name}-bg.png" 
  ) if action_name == "home" || action_name == "contact"          
  %>


</div>
