    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">Le Blog de Campbell</h1>
        <p class="lead blog-description">Where practical and progressive thinking meets a keyboard.</p>
        <%= link_to 'Write a new blog', new_blog_path if logged_in?(:site_admin)%>
      </div>
    </div>