    <footer class="text-muted">
      <div class="container">
        <p class="float-left"><%= copyright_helper %> </p>
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>