
<div class="inner cover">
  <div class="row">
    <div class="col-sm-3" id="profile-pic">
      <%= image_tag 'profile.jpg', alt: 'profile image' %>
    </div>

    <div class="col-sm-9">
      <h1 class="cover-heading">What should you expect?</h1>
      <p class="lead">Organized project-management. Best-practice adherence. Professional communication.</p>
      <p class="lead">I listen intently. I ask intelligent questions. I execute directives efficiently.</p>
    </div>
  </div>
  <hr>

  <br><br>
  <h4>My Development Experience:</h4>

  <div class="align-left">
    <ul>
      <li><span class="li-title">Global Change Media</span> (4 years)</li>
      <li><span class="li-sub">PHP - Custom Framework- MySql - Javascript - HTML/CSS - JIRA - GIT</span></li>
        <ul>
          <li>Project management (Atlassian JIRA) - Used task based work-flow for efficient time management, organization, and tracking development progress in a team setting</li>
          <li>Web Application Framework (Custom)- Integrated web templates, graphic design, Javascript, and Jquery plugins into, and maintained/improved a Model/View/Controller framework written in PHP.</li>
          <li>Brand Development - Coordinated with COO to cultivate the quality of their online presence through improving copywriting and integrating modern aesthetics and design practices.</li>
          <li>SEO - Assisted in Utilized and integrated modern practice for improving search engine optimization.</li>
        </ul> 
      
      <li><span class="li-title">Bottega Tech</span>(Junior Developer Certification)</li>
      <li><span class="li-sub">Ruby - Rails - Postgresql - Javascript/JQuery - AngularJS - HTML/CSS/SCSS - GIT</span></li>
        
        <ul>
          <li>Project management</li>
          <li></li>
        </ul>
    </ul>
</div>





