
<div class="inner cover">
  <h1 class="cover-heading">What can I expect?</h1>
    <p class="lead">Experienced development. Quality work. Professional communication. Modern aesthetics. </p>
    <p class="lead">
              <%= link_to 'Want to know more?', about_me_path, class: "btn btn-secondary" %>
            </p>
          </div>




